<section>
​    <div class="row">
        <div class="add-product">
            <form>
                <div class="row">
                    <div class="twelve columns">
                        <label for="product-name">Product Name</label>
                        <input class="u-full-width" type="text" placeholder="Product Name" id="product-name">
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        <label for="categories">Category</label>
                        <select class="u-full-width" id="category">
                            <option value="Option 1">Category 1</option>
                            <option value="Option 2">Category 2</option>
                            <option value="Option 3">Category 3</option>
                        </select>
                    </div>
                    <div class="four columns">
                        <label for="image">Image URL</label>
                        <input class="image u-full-width" type="text" placeholder="img-image.jpg" id="image">
                    </div>
                    <div class="four columns">
                        <label for="price">Price ($)</label>
                        <input class="price u-full-width" type="number" id="price" placeholder="20">  
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <label for="description">Description</label>
                        <textarea class="u-full-width" name="description" id="description" placeholder="Pellentesque habitant morbi tristique senectus et netus."></textarea>
                    </div>
                </div>
                <input class="button-primary u-pull-right" type="submit" value="Add Product">
            </form>
​
        </div>
        <!-- End Add-Product -->
    </div>
    
    
    <hr>
    
    
    <div class="row">
        <div class="view-products twelve columns">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Image URL</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Product Name</td>
                        <td>Category 1</td>
                        <td>img-image.jpg</td>
                        <td>$30</td>
                        <td>Description</td>
                        <td class="edit">Edit</td>
                        <td class="delete">Delete</td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td>Category 1</td>
                        <td>img-image.jpg</td>
                        <td>$30</td>
                        <td>Description</td>
                        <td class="edit">Edit</td>
                        <td class="delete">Delete</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- End View-Products -->
    </div>

​

<div ui-view=""></div>

</section>