<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>

	<div ui-view>
	<h1>Login</h1>
		
		<!--Login Inputs-->
		<input ng-model="ctrl.user" type="text" name="EmailAddress" value="" placeholder="Email Address" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>

		<input ng-model="ctrl.password" type="text" name="EmailAddress" value="" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>

		<input type="submit" value="{{ctrl.auth_btn}}" ng-click="ctrl.login()" />

	</div>

</body>
</html>