<!DOCTYPE html>
<html lang="en">
<head>
​
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>The 460 House</title>
  <meta name="description" content="">
  <meta name="author" content="">
​
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
​
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
​
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
​
</head>
<body>
​
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div ui-view>
  <div class="container">
   
     <!--   Nav -->
     <div class="nav">
         <ul class="u-pull-right">
             <li>Login</li>
             <li class="cart-icon">Cart</li>
         </ul>
     </div>
     
     
    
     <!--  Hero    -->
        <div class="hero">
           <div class="row">
               <h1>The Store</h1>
           </div>
            
        </div>
     
     
     <!--  Filter / Browse   -->
     <div class="filters">
        <div class="row">
            <div class="eight columns">
                <ul>
                    <li>Category 1</li>
                    <li class="active">Category 2</li>
                    <li>Category 3</li>
                    <li>Category 4</li>
                    <li>Category 5</li>
                </ul>
            </div>   
            <div class="four columns u-pull-right">
                <form>
                    <input type="text" class="search" placeholder="Search For Products">
                </form>
            </div>
         </div>    
     </div>
     
     
     <!--  Products   -->
     <div class="row products-main">
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/cup.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>Product Name</p>
              </div>
              <div class="three columns price">
                  <p>$30</p>
              </div>
          </div>
      </div>
      
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/jar.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>Product Name</p>
              </div>
              <div class="three columns price">
                  <p>$30</p>
              </div>
          </div>
      </div>
      
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/cup.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>Product Name</p>
              </div>
              <div class="three columns price">
                  <p>$30</p>
              </div>
          </div>
      </div>
    </div>
    
    
     <div class="row products-main">
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/lamp.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>Product Name</p>
              </div>
              <div class="three columns price">
                  <p>$30</p>
              </div>
          </div>
      </div>
      
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/bottle.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>Product Name</p>
              </div>
              <div class="three columns price">
                  <p>$30</p>
              </div>
          </div>
      </div>
      
      <div class="four columns">
          <div class="product-img">
              <img src="assets/img/lamp-b.png">
          </div>
          <div class="product-info">
              <div class="nine columns product-name">
                  <p>Product Name</p>
              </div>
              <div class="three columns price">
                  <p>$30</p>
              </div>
          </div>
      </div>
    </div>
 </div>
​
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>